@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply box-border w-full scroll-smooth;
    }

    body {
        @apply m-0 min-h-full w-full overflow-x-hidden bg-dark-navy leading-[1.3] antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }
}

@layer utilities {
    .test {
        @apply border border-red-700;
    }
    /* .font-custom {
        font-family: 'Raleway', sans-serif;
    } */

    /* Add these custom utilities */
    .perspective {
        perspective: 1000px;
    }

    .preserve-3d {
        transform-style: preserve-3d;
    }

    .backface-hidden {
        backface-visibility: hidden;
    }

    .rotate-y-180 {
        transform: rotateY(180deg);
    }
}
